:root {
  --bgcolor: rgba(225,217,201, 0.7);
  --fontcolor: #444;
  --color-primary: rgb(142,114,105);
  --color-secondary: rgb(95,67,61);
  --color-hover: rgb(110, 87, 80);
  --color-primary-darker: rgba(42, 33, 15, 0.7);
  --color-secondary-darker: #ffbb00;
  --color-tertiary-darker: #fd424b;
  --color-primary-opacity: #5ec5763a;
  --color-secondary-opacity: #ffcd0331;
  --color-tertiary-opacity: #ff58602d;
  --gradient-primary: linear-gradient(to top left, #39b385, #9be15d);
  --gradient-secondary: linear-gradient(to top left, #ffb003, #ffcb03);
  --homebuttons: 2rem;
}
html, body{
  margin: 0;
  padding: 0;
  background-color: var(--bgcolor);

}